{% extends 'layout.html' %}

{% block content %}

{% load static %}

<!-- Hero Section -->
<header class="row bg-black">
  <div class="col-md-6">
    <img src="{% static 'portfolio/PERU.jpg' %}" />
  </div>

  <div class="col-md-6 my-auto p-3">
    <h1><strong> PERU </strong></h1>
    <h3>Culture Peru</h3>
    <p>Peru is one of the world’s most varied countries. It is a multicultural nation, filled with traditions, a unique gastronomy and vast natural reserves. It is home to 12 UNESCO World Heritage Sites and 84 of the planet’s 117 life zones. Peru is situated in the western part of South America and shares borders with Ecuador, Colombia, Brazil, Bolivia and Chile. Its enormous territory, covering more than 1.2 million square kilometers, is composed of three regions: Coast, Highlands and Jungle. Its current population exceeds 31.5 million inhabitants. 

 

      Spanish is the official language of Peru; however, 47 indigenous languages are also spoken in the country, including Quechua and Aymara.</p>
  </div>
</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

  <h3>Wonders of Peru</h3>
  <p>Here you know the wonders of Peru</p>

  {% for project in projects %}
  <div class="col-md-4 p-4">
    <div class="card bg-black card-project">
      <img 
        src="{{project.image.url }}" 
        alt="{{project.title}}"
        class="card-img-top" />

      <div class="card-body">

        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>

        {% if project.url %}
        <a 
          href="{{project.url}}" 
          class="btn btn-light rounded-0 btn-sm" 
          target="__blank" 
          rel="noreferrer">Visit the
          Page</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}